.post_detail {
    margin-bottom: 2em;

    img {
        max-width: 300px;
    }

    h2 {
        margin-bottom: 0.4em;
    }

    .tags {
        margin-bottom: 1.2em;
        display: flex;

        p {
            margin-right: 0.5em;
        }

        span {
            font-weight: bold;
        }
    }
}

.createdby {
    font-style: italic;
    color: #444;
    font-size: 0.8em;
    margin-bottom: 1em;
}